
.header {
    display: block;
    height: 80px;
}

.content-app {
    height: calc(100vh - 90px);
}

.inner-content-app {
    padding-top: 10px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.226);
}

.section-dx,
.container-dx {
    height: 100%;
}

.section-sx {
    border-right: 1px solid lightgray;
}

.my-note {
    height: 50px;
}

.my-note-container {
    height: calc(100% - 140px);
}

.my-inner-note-container {
    height: 100%;
    overflow-y: auto;
}

.global-button-container {
    height: 90px;
}