<app-header></app-header>

<div class="container">
    <div class="row">
        <!-- section sx -->
        <div class="col-6">
            <div>
                <app-globalbuttons></app-globalbuttons>
            </div>
            <div>
                aggiungi nota
            </div>
            <app-input></app-input>
        </div>

        <!-- section dx -->
        <div class="col-6">
            <div>
                le tue note
            </div>
            <div *ngIf="notebase.length <= 0">
                <h3>
                    Nessuna nota presente
                </h3>
            </div>
            
            <div *ngIf="notebase.length >= 1">
                <app-note></app-note>
            </div>

        </div>
    </div>
</div>

