<div class="note-container containerfluid mt-2" *ngFor="let note of notebase; let indexOfelement=index;">
    <div class="row bg-secondary">
        <div class="col-9 note-title d-flex align-items-center bg-secondary">
            <input class="m-0" (change)="checkNote(indexOfelement)" [checked]="note.checked" type="checkbox" name="" id="">
            <h3 class="my-0 mx-2">{{note.name}}</h3>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-around">
            <button class="edit-note" (click)="editNote(indexOfelement)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete-note" (click)="delete(indexOfelement)"><i class="fa-solid fa-eraser"></i></button>
        </div>
    </div>
    <div class="row pt-2 box-note">
        <div class="col-12 ">
            <p>{{note.text}}</p>
        </div>
    </div>
    <div class="row" *ngIf="note.empty">
        <div class="col p-0">
            <p class="bg-dark text-warning p-1 w-50 text-center mt-2">Nota non valida <i class="fa-solid fa-triangle-exclamation"></i></p>
        </div>
    </div>
    <div class="row" *ngIf="note.exist">
        <div class="col p-0">
            <p class="bg-dark text-warning p-1 w-50 text-center mt-2">Nota esistente <i class="fa-solid fa-triangle-exclamation"></i></p>
        </div>
    </div>

    <!-- edit -->
    <div class="row edit-note-container p-2" *ngIf="note.edit">
        <div class="col edit-note-subcontainer">
            <form class="form-edit-note d-flex flex-column" [formGroup]="editForm" (ngSubmit)="editFormNote(indexOfelement)">
                <label for="name">Nota</label>
                <input class="edit-note-input w-50 p-3" type="text" name="name" formControlName="name">
                <label for="text">Testo</label>
                <textarea class="edit-note-input w-75 p-3" name="text" id="" cols="30" rows="10" formControlName="text"></textarea>
                <input class="button w-25 my-3" type="submit" value="invio">
                <button class="button w-25" (click)="resetEdit(indexOfelement)">Annulla</button>
            </form>
        </div>
    </div>
</div>


<!-- <div style="background-color: antiquewhite;" *ngFor="let note of notebase; let indexOfelement=index;">
    <input (change)="checkNote(indexOfelement)" [checked]="note.checked" type="checkbox" name="" id="">
    <h3>{{note.name}}</h3>
    <p>{{note.text}}</p>
    <div>
        <button (click)="editNote(indexOfelement)">edit</button>
        <button (click)="delete(indexOfelement)">cancella</button>
    </div>
    <div *ngIf="note.edit">
        <form [formGroup]="editForm" (ngSubmit)="editFormNote(indexOfelement)">
            <input type="text" name="name" formControlName="name">
            <textarea name="" id="" cols="30" rows="10" formControlName="text"></textarea>
            <input type="submit" value="invio">
        </form>
    </div>
    <div *ngIf="note.empty">
        nota non valida
    </div>
    <div *ngIf="note.exist">
        nota esistente
    </div>
</div> -->



<!-- <div class="containerfluid">
    <div class="row single-note" *ngFor="let note of notebase; let indexOfelement=index;">
        <div class="col-12 note-title d-flex align-items-center bg-secondary">
            <input class="m-0" (change)="checkNote(indexOfelement)" [checked]="note.checked" type="checkbox" name="" id="">
            <h3 class="my-0 mx-2">{{note.name}}</h3>
        </div>
        <div class="col-12">
            <p>{{note.text}}</p>
        </div>
        <div class="col-12">
            <button class="edit-note" (click)="editNote(indexOfelement)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete-note" (click)="delete(indexOfelement)"><i class="fa-solid fa-eraser"></i></button>
        </div>
    </div>
</div> -->