<div style="background-color: antiquewhite;" *ngFor="let note of notebase; let indexOfelement=index;">
    <input (change)="checkNote(indexOfelement)" [checked]="note.checked" type="checkbox" name="" id="">
    <h3>{{note.name}}</h3>
    <p>{{note.text}}</p>
    <div>
        <button (click)="editNote(indexOfelement)">edit</button>
        <button (click)="delete(indexOfelement)">cancella</button>
        <!-- <button (click)="selectAll()">tutto</button> -->
    </div>
    <div *ngIf="note.edit">
        <div>
            <input [(ngModel)]="note.name" type="text" value="{{note.name}}">
        </div>
        <div>
            <textarea [(ngModel)]="note.text" name="" id="" cols="30" rows="10" value="{{note.text}}"></textarea>
        </div>
        <button (click)="editSingleNote(indexOfelement)">modifica nota</button>
        <!-- <button (click)="noteOk(indexOfelement)">Ok</button> -->

    </div>
    <div *ngIf="note.empty">
        nota non valida
    </div>
    <div *ngIf="note.exist">
        nota esistente
    </div>
</div>
